body{
    background-color: #1b334b !important;
}
body a{
    color: rgb(21, 197, 21) !important;
}

#SIvCob{
    color: rgb(255, 235, 235) !important;
}

#SIvCob a{
    color: rgb(14, 145, 14) !important;
}

.sfbg{
    background-color: #1b334b !important;
}

.yg51vc{
    background-color: #1b334b !important;
}

.appbar{
    background-color: #1b334b !important;
}

.RNNXgb{
    background-color: #88bef5 !important;
}

#tw-target{
    background-color: #88bef5 !important;
}

#KnM9nf{
    background-color: #88bef5 !important;
}

.yDYNvb.lyLwlc{
    color: #88bef5 !important;

}
.f6F9Be{
    background-color: #88bef5 !important;
}
.O3JH7{
    color: #88bef5 !important;
}
body{
    color: #88bef5 !important;
}

.aajZCb{
    background-color: #88bef5 !important;
}

#kAz1tf{
    color:#000000 !important;
}

.cv2VAd{
    background-color: #88bef5 !important;
}

.osrp-blk {
    background-color: #88bef5 !important;
}
.I6TXqe{
    background-color: #88bef5 !important;
}